 .body {
   background-color:darkgrey;   
   background-repeat:no-repeat;
   background-image: url("assets/images/berg.jpg");
   background-position: center;
   background-size: container;
 }

 .divlogin{
   margin-top: 10%;
   margin-left: 0%;
   color: aliceblue;
 }

 